<article class="col-3 mb-4 d-flex align-items-stretch">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ beer.title }}</h4>
            <div class="card-img colonne-centree"><img class="card-txt colonne-centree" src="{{ beer.img | raw }}" width="100" height="300" alt="{{ beer.title }}"></img></div>
            <p class="card-text">{{ beer.excerpt(150) | raw }}</p>
            
            <a class="card-link" href="{{ beer.url }}">Lire plus</a>

        </div>
        <div class="card-footer text-muted">
            {{ beer.price }}
        </div>
    </div>
</article>